@model IEnumerable<Shoposphere.UI.Models.CategoryViewModel>
@using System.Security.Claims;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var firstname = "";
    var lastname = "";
    var isAdmin = false;

    if (Context.User.Identity.IsAuthenticated)
    {
        firstname = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name).Value;
        lastname = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Surname).Value;
        isAdmin = Context.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role).Value == "1";
    }

    var priceList = new List<decimal>();
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@if (isAdmin)
{
    // TODO - admin panelinde neler olabilir...
}

@if (!isAdmin)
{
    <div class="products-catagories-area clearfix">
        <div class="amado-pro-catagory clearfix">

            @foreach (var category in Model) // kategorideki en düşük fiyatlı ürünü bul
            {
                var products = category.Products;


                if (products != null)
                {
                    foreach (var product in products)
                    {
                        var unitPrice = product.UnitPrice;
                        priceList.Add(unitPrice);
                    }

                }

                var minPrice = priceList.Min();

                <div class="single-products-catagory clearfix">
                    <a href="product/shop/@category.Id">
                        <img style="width:100%" src="data:image;base64, @category.PictureStr" alt="">

                        <div class="hover-content">
                            <div class="line"></div>
                            <p>From $@minPrice</p>
                            <h4>@(category.CategoryName)</h4>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}

